<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cleany">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cleany"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tidy">
        <activity
            android:name=".addreview"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".applyJob"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".addreviewads"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".display_adz"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".requests"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".viewCleaners"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".addAdz"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".review_Cleaner"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".viewAdz"
            android:exported="false"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".cleanermenu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".houseownermenu"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".register2"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".register1"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".Cleaner"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".houseowner"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".MainPage"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Tidy.NoActionBarAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>